@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #ccc;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgrey;
  margin: 1.5rem;
}

section ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem .6rem 2rem;
}

li img {
  width: 5rem;
}

li hgroup {
  width: 16rem;
  padding: .5rem 1rem .6rem 2rem;
}

li a {
  width: 16rem;
  margin: 1.5rem;
  background-color: #000;
}

li p {
  width: 25rem;
  margin: 1.5rem;
}
